@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/*================================= Utilities section start ===================================*/
.flex{
    display: flex;
    align-items: center;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}


/*================================= utilities section end ===================================*/

/*================================= Navigation Bar ===================================*/

.logo i{
    color: azure;
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-weight: 600;
    filter: drop-shadow(1px 2px 4px rgb(226, 250, 9));
    animation: slideRight 1s ease forwards;
}

.logo img{
    height: 6vh;
    border-radius: 100%;
    margin-right: 1rem;
}

nav a{
    font-size: 1.2rem;
    margin: 0 0.6rem !important;
    text-decoration: none;
    transition: all 0.6s ease-in-out !important;
}

nav a:hover{
    color: azure !important;
}

.btns{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid lightblue;
}

.btns:hover{
    background-color: lightskyblue;
    color: white;
}

.btns a:hover{
    color: azure !important;
}

.Container{
    box-sizing: border-box;
    padding: 10px;
}

.title{
    margin: 15px auto;
    font-size: 1.7rem;
    letter-spacing: 2.3px;
    font-weight: 500;
    filter: drop-shadow(1px 2px 4px rgb(11, 203, 236));
    display: block;
    text-align: center;
}

/*================================= Landing Page section ===================================*/

.landingPage{
    margin: 20px 0;
    background-color: #ffffff;
    padding: 10px;
    font-size: 1.2em;
    justify-content: space-around;
}

.lpImg img{
    height: 65vh;
    animation: jerk 2s infinite alternate-reverse;
    transition: all 1s ease-in-out;
}

.bs-icons{
    animation: coloring 2s infinite alternate-reverse;
    transition: all 1s ease-in-out;
}

@keyframes jerk {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(10px);
    }
}

@keyframes coloring {
    0%{
        transform: translateY(1px);
    }
    100%{
        transform: translatey(5px);
    }
}

.lpContent{
    padding: 20px;
    width: 50vw;
}
.lpContent p{
    animation: slideRight 1s 0.4s ease forwards;
}
.lpContent h2{
    color: midnightblue;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.lpContent h3{
    color: midnightblue;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    animation: slideRight 1s ease forwards;
}
.typing{
    font-weight: 600;
    letter-spacing: 0.5px;
    color: maroon;
}
.contents{
    color: maroon;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    line-height: 1.7;
    padding: 3px;
    text-align: justify;
}

.top-btn{
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    opacity: 1;
    z-index: 1111;
    transition: all 1s ease-in-out;
}
#top-btn{
    bottom: -15vh;
}
.top-btn button{
    padding: 3.5px !important;
    border-radius: 50px !important;
}
.top-btn img{
    height: 6vh;
}

/*================================= about section ===================================*/

.aboutDev{
    background-color: azure;
    padding: 10px 80px;
    justify-content: space-around;
}

.aboutDev p{
    width: 60%;
    animation: slideRight 1s 0.7s ease forwards;
}

.aboutDev img{
    height: 32vh;
    border: 2px solid darkmagenta;
    border-radius: 50%;
    animation: big 2s infinite alternate-reverse;
    transition: all 0.4s ease-in-out;
}

@keyframes big {
    0%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1.05);
    }
}

/*================================= skills using swipper.js ===================================*/

 .swiper {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
     padding: 1.5rem 0;
     text-align: center;
     background: #fff;

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
     flex-direction: column;
 }

 .slider-box{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 10px;
     margin: 0 !important;
 }

 .slider-box p{
     color: indigo;
     padding: 10px 0;
     width: 70% !important;
 }

 .swiper-slide img {
     display: block;
     height: 20vh;
     border-radius: 8px;
     margin-bottom: 18px;
     object-fit: cover;
 }

 .projects:hover .project-details{
    right: 15%;
 }
 .project-img{
    transition: 1s;
 }
 .projects:hover .project-img{
    opacity: 0.12 !important;
 }

 .project-details{
    position: absolute;
    top: 3%;
    right: -100%;
    height: 50%;
    border: 0.3px dashed;
    border-radius: 6px !important;
    /* background-color: azure; */
    overflow-y: auto;
    padding: 10px !important;
    text-align: justify !important;
    transition: 1s;
 }

 .project-link{
     padding: 15px 0;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
     margin: 0 4px;
 }

 .project-link:hover{
     color: red;
     text-decoration: underline;
 }

/*================================= skills section ===================================*/

.boxes{
    justify-content: space-between;
}

.box{
    padding: 5px;
    text-align: center;
    padding: 5px;
    margin: 0px 14px;
    transition: all 0.4s ease;
}

.box:hover{
    background-color: rgb(239, 239, 252);
}

.box h3{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 12px 0;
    filter: drop-shadow(1px 2px 4px blue);
}
.box i{
    font-size: 1.1rem;
    color: magenta;
}
.box i:hover{
    cursor: pointer;
    color: red;
    border-bottom: 1px solid magenta;
}

.box img{
    height: 25vh;
    border-radius: 10px;
}

/*================================= contact section ===================================*/
.contact-us h4{
    font-size: 15px;
}
.my_details span{
    margin: 12px 0;
}
.details_icon{
    margin-right: 1rem;
    font-size: 25px;
    color: blue;
}
.contact_form{
    flex-direction: column;
    width: 30vw;
}

.contact_form :where(input, textarea){
    border: 1px solid lightblue;
    border-radius: 6px;
    outline: none;
    padding: 8px;
    margin: 5px 0;
    width: 90%;
    font-size: 16px;
}

.contact_form textarea{
    height: 16vh;
    resize: none;
}

.contact-us{
    justify-content: space-around;
    background-color: azure;
    text-align: center;
    padding: 10px;
}


/*================================= footer section ===================================*/

footer{
    background-color: #302a2a;
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 15px;
}
footer i{
    letter-spacing: 3px;
    filter: drop-shadow(1px 2px 4px rgb(226, 250, 9));    
}

footer a{
    text-decoration: none;
}

.footer_links_img{
    height: 5.5vh;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1.4rem;
    margin-bottom: 1rem !important;
}

/************************************ experiences *********************************************/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 142;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: blue;
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: "Raleway", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 700;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

.experience{
    background-color: azure;
    padding: 15px 10px;
}

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    margin-top: 10px;
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}


/*================================= Making Responsive ===================================*/

@media screen and (max-width: 1120px) {
    .logo{
        margin: 10px 0;
    }

    .logo img{
        height: 4vh;
    }
    .offcanvas-header{
        background-color: darkslategray !important;
    }

    .offcanvas-header .logo img{
        margin-right: 0.5rem !important;
    }

    .logo i{
        font-size: 15px;
    }

    .offcanvas-end{
        width: 260px !important;
        background-color: #302a2a !important;
    }

    nav{
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
    }

    .sticky {
        padding: 10px;
    }

    nav a{
        margin: 5px;
        font-size: 15px;
    }

    .landingPage{
        flex-direction: column;
    }
    .lpContent{
        margin-top: 4rem;
        width: 90vw;
    }
    .details_icon{
        font-size: 18px;
    }

    .lpContent h2{
        font-size: 20px;
    }

    .lpContent h3{
        height: 7vh;
    }

    .lpImg img{
        height: 40vh;
    }

    .top-btn img {
        height: 4.5vh;
    }

    .aboutDev{
        flex-direction: column;
        padding: 10px;
    }

    .experience{
        padding: 10px;
    }

    .aboutDev p{
        width: 90% !important;
    }

    .aboutDev img{
        margin: 10px 0;
        margin-bottom: 1.5rem;
    }

    .boxes{
        flex-direction: column;
    }

    .box{
        margin: 14px;
    }

    .box h3{
        font-size: 15px;
    }

    .blogContainer{
        flex-direction: column;
    }

    .contact-us{
        flex-direction: column;
    }

    .contents{
        font-size: 14px;
        line-height: 1.5;
    }

    .slider-box h2{
        font-size: 18px;
    }

    #submitBtn{
        margin: 10px;
        width: 25vw;
    }

    footer{
        font-size: 14px;
    }

    .footer-icons img{
        margin: 5px;
        height: 5vh;
    }

    .swiper-slide img{
        height: 15vh;
    }

    .contact_form {
        width: 75vw;
    }
    .details_icon{
        height: 3vh;
    }
}
